header {
    color: #C8C5D9;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px #777AA6;
    width: 80%;
    margin: 0 auto;
}

nav {
    height: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

main {
    padding: 1%;
    width: 80%;
    background: #3C4973;
    margin: 0 auto;
    border-style: solid;
    border-radius: 10px;
}

article {
    margin: 1%;
    background: #3C4973;
}

section {   
    border-style: solid;
    border-radius: 10px;
    align: center;
    text-align: center;
    float: left;
    margin: 1%;
    background: #C8C5D9;
}

aside {
    width: 47%;
    border-style: solid;
    border-radius: 10px;
    align: center;
    text-align: center;
    float: left;
    margin: 1%;
    background: #C8C5D9;
}

footer { 
    clear: both;
    width: 98%;
    margin: 0 auto;
    background: #C8C5D9;
    border-style: solid;
    border-radius: 10px;
    padding: 1%;

}

img {
    margin: 1%;
    display: block;
    width: 98%;
  }

p {
    color:#2C2940;
}

span {
    text-align: center;
    color: #2C2940;
    font-size: 24px;
}

body {
    background: #2C2940;
}

li {
    list-style-type: none;
}

.button {
    text-decoration: none;
    border-style: solid;
    border-radius: 10px;
    color: #C8C5D9;
    background-color: #4C3A5D;
}

.button1:hover {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(240, 237, 245);
    color: rgb(240, 237, 245);
    background-color: #4C3A5D;
}

.section-header {
    font-size: 50px;
}

.gallery-link {
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    color:#C8C5D9;
    margin: 5%;
}

.gallery-link:hover {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(240, 237, 245);
    color: rgb(240, 237, 245);
}

.indexSection{
    width: 47%;
}

.marsSection{
    width: 96%;
    height: 80%;
}

